body {
    background-color: #EAE5C5 !important;
    background-image: url('/images/shiba_background_2.png');
    /* makes the background image cover the entire viewport */
    background-size: 100%;
    /* makes the background image fixed, doesn't scroll with the page content */
    background-attachment: fixed;
}

#congrats {
    /* other color */
    background-color: #6F4626;

    /* shadow */
    box-shadow: 3px 5px 15px #363025;
}